.card {
    Display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card1 {
    Display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: grey;
}

#cabecalho {
    background-color: gray;
    height: 150px;
    text-align: center;

}


#textos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    top: 50px;
    left: 200px;
}

.btn:hover {
    background-color: white;
    color: grey;
    border-color: grey;
}

.btn {
    background-color: grey;
    border-color: grey;

}

#eu {
    position: absolute;
    top: 15px;

    right: 40px;
    width: 150px;
    border-radius: 10px;
}

#fundo {
    background-color: silver;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 20px;
}

.informacoes {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#imagem-perfil {
    border-radius: 10px;
}



.background {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    border-radius: 10px;
    border-color: black;
}




.informacoes h3, h4 {
    text-align: center;
}

.informacoes h3 {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

.informacoes p {
    height: 50px;
    margin-left: 7.5%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}